<h1>Message</h1>

<%= current_user.errors.full_messages.join(', ') %>
<%= form_for [current_user, @message] do |f| %>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>
  <div class="field">
      <%= f.label :contacts %>
      <%#= f.select :user_ids, options_from_collection_for_select(@contacts, 'id', 'first_name'), multiple: true, class: 'form_input', id: 'unique_id' %>

      <%= f.select(:user_ids, @contacts.collect {|c| [ c.first_name, c.id ] }, {}, { :multiple => true }) %>



      <%#= select_tag "user_id", "<option>Selena</option><option>Serena</option>".html_safe, multiple: true, class: 'form_input', id: 'unique_id' %>
      <%#= select_tag("user[user_id]", options_from_collection_for_select(User.all, 'id', 'first_name')) %>
      <%#= f.select "user_id", options_from_collection_for_select(@contacts, 'id', 'first_name'), {multiple: true, size: User.all.length } %>
  </div>
  <%= f.submit 'Pay', class: 'btn btn-primary' %>
  <%= console %>
<% end %>
