<h1>Message</h1>

<%= @user.errors.full_messages.join(', ') %>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <%= f.submit 'Pay', class: 'btn btn-primary' %>
<% end %>
